---
import Prose from '../components/Prose.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import BrainMade from '../components/BrainMade.astro'
const { frontmatter } = Astro.props
const dateFormatOptions = {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
}
---

<BaseLayout pageTitle={frontmatter.title}>
  <Prose>
    {
      frontmatter.image ? (
        <img
          src={frontmatter?.image?.url}
          alt={frontmatter?.image?.alt}
          width='300'
        />
      ) : (
        ''
      )
    }
    {
      frontmatter.description ? (
        <p>
          <em>{frontmatter?.description}</em>
        </p>
      ) : (
        ''
      )
    }
    <p style='font-size: 0.8rem'>
      {
        frontmatter.pubDate.toLocaleDateString(undefined, {
          ...dateFormatOptions,
          timeZone: 'UTC',
        })
      }
    </p>

    <slot />

    {
      frontmatter?.tags.map((tag) => (
        <span class='tag'>
          <a href={`/tags/${tag}`}>#{tag}</a>
        </span>
      ))
    }

    <BrainMade />
  </Prose>
</BaseLayout>

<style>
  a {
    color: #00539f;
  }

  .tag {
    font-size: 0.8em;
  }
</style>
