---
import BaseLayout from '../layouts/BaseLayout.astro'
const { frontmatter } = Astro.props
const dateFormatOptions = {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
}
---

<BaseLayout pageTitle={frontmatter.title}>
  {
    frontmatter.image ? (
      <img
        src={frontmatter?.image?.url}
        alt={frontmatter?.image?.alt}
        width='300'
      />
    ) : (
      ''
    )
  }
  {
    frontmatter.description ? (
      <p>
        <em>{frontmatter?.description}</em>
      </p>
    ) : (
      ''
    )
  }
  <p style='font-size: 0.8rem'>
    {frontmatter.pubDate.toLocaleDateString(undefined, dateFormatOptions)}
  </p>

  <div class='tags'>
    {
      frontmatter?.tags.map((tag) => (
        <p class='tag'>
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>

  <slot />
</BaseLayout>

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 0.8em;
    background-color: #f8fcfd;
  }
</style>
